section.atf header nav {
    display: none;
}

section.atf main div a, section.atf main div h1, section main, section main div {
    padding: 0;
    margin: 0;
}

section main div {
    padding-bottom: 25px;
}

section.atf {
    background: url("adventure-sm.jpg");
}

section.essays div {
    width: 95%;
}

#footernav {
    display: flex;
}

footer {
    height: 80px;
}